#!/usr/bin/env python3
import os
import yaml
from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():

    ns="ogm"
    use_sim_time=True


    rviz = Node(
            package='rviz2',
            executable='rviz2',
            name='rviz',
            output='screen',
            namespace=ns,
            parameters=[
                {"use_sim_time" : use_sim_time},
                ],
        )


    return LaunchDescription([
        rviz,
    ])
