<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="pwd" default="$(dirname)" />

  <node pkg="ogm_gridmap" exec="wall_vis" name="wall_vis">
    <param name="use_sim_time" value="$(var use_sim_time)"/>
    <param name="wall_height" value="0.3"/>
    <param name="clearance_height" value="0.3"/>
    <param name="dilation_size" value="7"/>
    <param name="show_dst" value="true"/>
    <param name="max_dst" value="3."/>
    <remap from="gridmap" to="/ogm/gridmap"/>
  </node>

  <node pkg="rviz2" exec="rviz2" name="rviz" args="-d $(var pwd)/festia_view.rviz">
    <param name="use_sim_time" value="$(var use_sim_time)"/>
  </node>

</launch>
